@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Diphylleia&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

*{
    padding:0;;
    margin:0;
    font-family:Ysabeau Sc;
    border:;
p{
    font-size:1.5rem;
    font-weight:550;
    color:#0C090A;
}
a{
    display:inline-block;
}
body{
    background-color:#1e1e1e;
    max-width:1200px;
    margin:auto;
    padding:auto;
/*    background:linear-gradient(to left,#4facfe,#00f2fe) */
}
.header>.logo1{
    margin-left:.9rem;
}
.img1 img{
    width:3.1rem;
    margin-left:10px;
}
.logo1{
    display:flex;
    align-items: center;
}
.header{
    display:flex;
    height:4rem;
    align-items:center;
    justify-content:space-between;
}
.header>.logo1>p{

    align-items:center;
    margin-left:15px;
}
.icon>i{
    width:50px;
    font-size:30px;
    margin-right:.9rem;
}
.nav>ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:10px;
    color: #ffffff;
}
.nav>ul>a{
    display:flex;
    align-items:center;
}
.nav{
    display:flex;
    flex-direction:;
    justify-content:;
    flex-basis:90%;
}
.nav>ul{
    background-color:#000000;
    flex-basis:100%;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
.nav>ul>a>li{
    font-size:.99rem;
    font-weight:bold;
    color:#ffffff;
    
}
.icon1>a{
    color:;
    display:flex;
    font-size:2rem;
    padding-block:.5rem;
    position:;
}
.section-1 {
    display:grid;
    grid-template-columns:.5fr 2fr 2fr;
    background-color:#ffffff;
    padding:2rem;
    grid-auto-rows:.5fr;
    height:25rem;
    width:;
    
}
.icon1>a>i{
    position:static;
    transition:all .5s ease-in;
}
.footer1>a{
    text-decoration:none;
    color:#999999;
    padding:.1rem;
}
.footer1{
    display:flex;
    justify-content:space-evenly;
    font-size:2rem;
    padding:;
    background-color:#fbf9f9;
    align-items:center;
    height:6rem;
    padding-left:8rem;
    padding-right:8rem;;
    
}
.grid1>.gridtext>h1,p{
    
    color:;
    font-family:'Ysabeau Sc';
    
    
}
.grid1{
    display:flex;
    height:35em;
    justify-content:space-between;
    align-items:center;
    background:linear-gradient(to right,#52c234,#061700);
}
.gridtext{
    flex-basis:30%;
    align-self:center;
    text-align:center;
    font-size:1.5rem;
    padding:2rem;
}
.imgg{
    color:white;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    height:25rem;
    gap:3px;
    flex-basis:50%;
    padding-right:15px;
    

}
.imgg>div{
    border-radius:3;
    background-size:cover;
    background-position:top;
    background-blend-mode:difference;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Cormorant Garamond';
    background-color:#0C090A;
    transition:all 1s ease-in-out;
}
.imgg>div:hover{
    cursor:pointer;
    box-shadow:1px 1px 1px black;
    background-position:bottom;
   
}
.cols{
    grid-column:2 span;
}
.rows{
    grid-row:2 span;
}
.section-1{
    background-image:url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    transition:all 1.5s ease-in-out;
    background-size:cover;
    background-position:right;
}
.nav, .header{
    background-color:#ffffff;
}
.section-1:hover{
    cursor:pointer;
    background-position:top;
}
.gridtime{
    height:35em;height:35em;
    
    background-image:url('https://images7.alphacoders.com/134/1346886.png');
    background-size:cover;
    background-blend-mode:hard-light;
}
.time1{
    flex-basis:150%;
    background-image:url('https://cdn.mos.cms.futurecdn.net/9meMCxtJU3NWkh5YcPs7qG-970-80.jpg.webp');
    background-size:cover;
    height:20rem;
    align-self:center;
    margin-left:10px;
    transition:all 5s ease-in-out;
    border-radius:3px;

}
.time1:hover{
    cursor:pointer;
    background-position:right;
}
.time2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}
.blur1{
    height:35em;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#00000020;
    backdrop-filter:blur(8px);
    padding:
}
.gridtime{
   
}
.imgg>div{
    border-radius:3px;
    gap:3px
}
:root{
    --font-s:2rem;
    --color-sh:#121212;
    --pad-pad:20px;
}
.card1{
    height:18rem;
    display:flex;
    justify-content:center;
    background-color:#1e1e1e;
    align-items:center;
    h1{
        color:#C0C0C0;
    }
    
}
.card11{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    color:white;
    background-color:#00000020;
    width:35rem;
    height:15rem;
    padding:var(--pad-pad);
    border-radius:20px;
    padding-bottom:;
}
.footer2{
    background-color:white;
    display:flex;
    flex-direction:column;
    align-content:center;
    padding:5rem;
    height:25rem;
    justify-content:center;
    row-gap:5rem;
    margin-top:0;
    padding-top:0;
    padding-bottom: 0;
    background-color: #1e1e1e;

}
.gd1{
    display:flex;
    flex:row;
    column-gap:10rem;
    justify-content:space-evenly;
    padding-right:rem;
    h1{
        color:#808080;
        font-size:1.2rem;
        margin-bottom:15px;
    }
    ul{
        color:white;
        font-size:.9rem;
    }
    li{
        margin-top:5px;
    }
}
.gd2{
    display:flex;
    flex:row;
    justify-content:space-between;
    p{color:white;
    }
}
input[type="text"]{
    padding:6px;
    font-size:17px;
    border-radius:10rem;
    width:15rem;
    padding-left:10px;
}/*
.f5>button{
    padding:10;
    cursor: pointer;   
}*/
.f5>i{
     cursor:pointer;
     color:black;
     background-color:#ffffff;
     border:;
     padding:;
     font-size:18px;
     position:relative;
     right:2rem;
     border-radius:100px;
     background-color:;
}
.f5>input[type="text"]{
    padding-left:20px;
    height:2rem;
    font-size:;
    width:;

}
.ic{
    
    transition-duration:.5s;
    transition-timing-function:ease-in-out;
}
.ic:hover{
    transform:scale(1.2);

}
.ip{
    background-color:#0088ff;
    padding:20px;
    height:.11111px;
    display:flex;
    align-items: center;
    border-radius:50px;
}
.img1>img{
    background:;
}
.f6>p{
    animation-name:ahh;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
}
@keyframes ahh{
    50%{
        background-color:red;
    }
    50%{
        background-color:lime;
    }
}
